*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-size: 1.6rem;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style:none;
}

