.footer{
    background-color: $dark-color;
    color: $light-color;
    .container{
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .social-media{
            a{
                display: inline-block;
                padding: .6rem;
                &:hover{
                    opacity: .7;
                }
            }
        }
    }
}

.scroll-totop{
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    i{
        color: red;
        font-size: 2rem;
        &:hover{
            opacity: .7;
        }
    }
}

html{
    scroll-behavior: smooth;
}